.Link {
    text-decoration: none;
    color: #A5D3CE;
    /* padding-left: 25px; */
    

}
    .Link:hover {
      color: #F6FCFC;
    }
.left-side {
  display: inline-block;
  width: initial;
  white-space: nowrap;
  top: -20%;
  z-index: inherit;
}
.right-side {
  display: flex;
flex-direction: row;
  width: initial;
  float: right;
  padding-right: 252px;
  white-space: nowrap;
}

.cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
  position: absolute;
  left: 92%;
  top: -20%;
  color: #A5D3CE;
 
}

.cart :hover {
  color: #F6FCFC;
}

.login__header  {
  text-decoration: none;
  font-size: 40px;
  position: absolute;
  width: 249px;
height: 163px;
  left: 15px;
  top: 10px;
  color: #A5D3CE;
 
}

.login__header :hover {
  color: #F6FCFC;
}
.header__cart {
  position: absolute;
width: 304px;
height: 46px;
left: 762px;
top: 91px;
}
.header__optionLineTwo_header__basketCount {
display: flex;
}
.header__optionLineTwo_header__basketCount:hover {
  color: #A5D3CE;
}

.logo {
  height: 200px;
  padding-right: 1px;
}

.header__nav {
  display: flex;
  position: absolute;
width: 366px;
height: 46px;
left: 396px;
top: 91px;
}